{% extends 'chats/base.html' %}
{% load static %}

{% block page %}
  <p class="lead">{{ room_name_json }}</p>
  <div class="form-group">
    <input class="form-control" id="chat-message-input" type="text" placeholder="Write Something..." required/>
    {% csrf_token %}
    <input type="hidden" id="user" value="{{ request.user.id }}" required readonly hidden>
    <input type="hidden" id="username" value="{{ request.user }}" required readonly hidden>
  </div>
  <div class="form-group">
    <input class="btn btn-outline-dark btn-block" id="chat-message-submit" type="button" value="Send"/>
  </div>
  <ul id="messages">
  </ul>
{% endblock %}

{% block extrascript %}
  <script type="text/javascript">
    var roomName = {{ room_name_json }};
  </script>
  <script src="{% static 'js/message.js' %}"></script>
{% endblock %}
