{% extends 'chats/base.html' %}
{% load static %}
{% block page %}
  {% if messages %}
    {% for message in messages %}
      <div{% if message.tags %} class="alert alert-{{ message.tags }} text-center"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <div class="alert alert-danger text-center" id="error" style="display:none;">
  </div>
  <div class="alert alert-success text-center" id="success" style="display:none;">
  </div>
  <!-- AJAX Input -->
  <div class="form-group">
    {% csrf_token %}
    <input class="form-control" type="text" id="chat_name" maxlength="30" placeholder="Type in a name to create a chat..." required autofocus size="100" />
  </div>
  <!-- A List of chats -->
  <div class="text-center">
    <p class="lead">Select a chat from the list:<p/>
  </div>
  <ul id="chats">
  </ul>
{% endblock %}

{% block extrascript %}
  <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
